.color-element-swatch {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 1px;
}

.color-element-swatch:not(:last-child) {
  margin-right: 10px;
}

.color-element-swatch.selected {
  border: 1px solid #000000;
}

.color-element-swatch .inner {
  height: 32px;
  width: 60px;
}
