


.product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 400px;
    height: 350px;

    .views-field-field-image{
        .field-content{
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                
                img{
                    width: auto;
                    max-height: 300px;
                }
            }
        }
    }

    .views-field-field-title{
        font-size: 14px;    
    }
}
