{#
/**
* @file
* Default theme implementation to display a color element field.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div class="color-element" style="background-color: {{ color }}"></div>
